<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lemon&family=Raleway:wght@700&family=Roboto&family=ZCOOL+XiaoWei&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>

        <div class="header-top-mobile">

            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre">
            <!--<div class="busqueda">
                Lugar para poner barra de búsqueda
                <input type="text" placeholder="Buscar productos, marcas">
                
                    <button><i class="fas fa-search"></i></button>
            </div>-->
        
        <div class="cuotas">

            <h2 class="cuotas-h2"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div></div>

        <div class="header-ul">
            <ul class="ofertas">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="cuenta">
                <li><a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="" srcset="" class="banner-img">
        </div>
        
            <div class="title">
                <h2>Basado en tu última visita</h2>
            </div>
            <!--SECCION BASADO EN TU ULTIMA VISITA-->
            <section>
                <article class="product">

                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="main-article">

                    <i class="fas fa-truck"></i>
                    <div class="price">
                    <p class="price-p">$6.770</p>
                    <p class="discount">40% OFF</p>
                </div>
                    <h3 class="description">Cafetera Moulinex</h3>
        </div>
        </article>
        <article class="product">
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <div class="price">
                    <p class="price-p">$230.000</p>
                <p class="discount">20% OFF</p></div>
                <h3 class="description">MacBook Pro 2019</h3>
            </div>
        </article>
        <article class="product">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <div class="price">
                    <p class="price-p">$70.500</p>
                <p class="discount">10% OFF</p></div>
                <h3 class="description">Samsung Galaxy S10</h3>
            </div>
        </article>
        <article class="product">
            <img src="/images/img-tv-samsung-smart.jpg" alt="SamartTv Samsung 43''">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <div class="price">
                    <p class="price-p">$23.200</p>
                <p class="discount">5% OFF</p></div>
                <h3 class="description">SamartTv Samsung 43"</h3>
            </div>
        </article>
        </section>
        <div class="title">
            <h2>Sección de ofertas</h2>
        </div>
        <!--SECCION DE OFERTAS-->
        <section>

            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <div class="price">
                        <p class="price-p">$6.770</p>
                    <p class="discount">40% OFF</p></div>
                    <h3 class="description">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <div class="price">
                        <p class="price-p">$230.000</p>
                    <p class="discount">20% OFF</p></div>
                    <h3 class="description">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <div class="price">
                        <p class="price-p">$70.500</p>
                    <p class="discount">10% OFF</p></div>
                    <h3 class="description">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SamartTv Samsung 43''">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <div class="price">
                        <p class="price-p">$23.200</p>
                    <p class="discount">5% OFF</p></div>
                    <h3 class="description">SamartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        </div>
    </main>
    <footer>
        <section>
            <article>
                <div class="item-footer">
                <i class="fas fa-credit-card"></i>
                <h3 class="title">Pagá con tarjeta o en efectivo</h3>
                <p class="description-footer">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            </article>
        
            <article>
                <div class="item-footer">
                <i class="fas fa-gift"></i>
                <h3 class="title">Envío gratis desde $ 2.500</h3>
                <p class="description-footer">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis
                    en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            </article>
        
            <article>
                <div class="item-footer">
                <i class="fas fa-user-shield"></i>
                <h3 class="title">Seguridad, de principio a fin</h3>
                <p class="description-footer">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay
                    nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </div>
            </article>
        </section>

        <section>
            <article>

                <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
        </section>
    </footer>
</body>

</html>