<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css" />
    <link rel="stylesheet" href="style/register.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lemon&family=Raleway:wght@700&family=Roboto&family=ZCOOL+XiaoWei&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>

        <div class="header-top-mobile">

            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre">
            <!--<div class="busqueda">
                Lugar para poner barra de búsqueda
                <input type="text" placeholder="Buscar productos, marcas">
                
                    <button><i class="fas fa-search"></i></button>
            </div>-->
        
        <div class="cuotas">

            <h2 class="cuotas-h2"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div></div>

        <div class="header-ul">
            <ul class="ofertas">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="cuenta">
                <li><a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <div class="form-register">
        <form action="#" method="post">
            <div class="register-name">
                <input type="text" name="name" id="name" placeholder="Nombre y Apellido">
            
                <input type="text" name="user" id="user" placeholder="Nombre de usuario">
            </div>
            <div class="register-pass">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar contraseña">
            </div>
            <div class="label-barth">
                <label  for="birth_day">Fecha de nacimiento</label><br>
            </div>
                <div class="register-barth">
                <input type="date" name="birth_day" id="birth_day">
            
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            </div>
            <div class="label-user">
                <label for="profile">Perfil de usuario</label>
            </div>
                <div class="register-radio">
                <div class="radio-button">
                    <div class="radio">
                <input type="radio" name="profile" id="comprador"> Comprador
            </div>
<div class="radio">
                <input type="radio" name="profile" id="vendedor"> Vendedor</div>
            </div>
            </div>
            <div class="label-category">
                <label for="interest">Categorias de interes</label>
            </div>
                <div class="register-checkbox">
               
                <div class="checkbox">
                <input type="checkbox" name="interest" id="electro">
                <label for="electro">Electro</label><br></div> 

            
                <div class="checkbox">
                <input type="checkbox" name="interest" id="moda"> 
                <label for="moda">Moda</label><br></div>

                <div class="checkbox">
                <input type="checkbox" name="interest" id="hogar"> 
                <label for="hogar">Hogar</label><br></div>

                <div class="checkbox">
                <input type="checkbox" name="interest" id="juguete"> 
                <label for="juguete">Jugueteria</label><br></div>

                <div class="checkbox">
                <input type="checkbox" name="interest" id="vida"> 
                <label for="vida">Vida Sana</label><br></div>

            
            </div>
            <div class="label-photo">
                <label for="photo">Foto de usuario</label>
            </div>
                <div class="register-photo">
                
                <input type="file" name="photo" id="photo">
            </div>
            
            <div class="register-btn">
                <div class="submit">
                <button type="submit">Enviar</button>
            </div>
            <div class="reset">
                <button type="reset">Borrar</button>
            </div>
            </div>


        </form>
    </div>
    </main>
    <footer>
        <section>
            <article>
                <div class="item-footer">
                <i class="fas fa-credit-card"></i>
                <h3 class="title">Pagá con tarjeta o en efectivo</h3>
                <p class="description-footer">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            </article>
        </section>

        <section>
            <article>
                <div class="item-footer">
                <i class="fas fa-gift"></i>
                <h3 class="title">Envío gratis desde $ 2.500</h3>
                <p class="description-footer">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis
                    en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            </article>
        </section>

        <section>
            <article>
                <div class="item-footer">
                <i class="fas fa-user-shield"></i>
                <h3 class="title">Seguridad, de principio a fin</h3>
                <p class="description-footer">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay
                    nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </div>
            </article>
        </section>

        <section>
            <article>

                <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
        </section>
    </footer>
</body>

</html>